/* RESET CSS */
* {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--default-textcolor);
}

/* IMPORTING FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* VARIABLES */
:root {
  --background-color: #fefbfb;
  --default-textcolor: #2e2727;
  --font: "Inter", sans-serif;
}

/* CODE */

body {
  background-color: var(--background-color);
  font-family: var(--font);
  display: grid;
  grid-template-columns: max-content 1fr;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 6vw);
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 50px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav img, a#logo-link {
  position: absolute;
  width: 100%;
}

nav a.text-link {
  padding-top: 200px;
  display: flex;
}

nav a:nth-child(3) {
  justify-content: center;
}
nav a:nth-child(2) {
  justify-content: flex-end;
}
nav a:nth-of-type(4) {
  justify-content: flex-start;
}


header a.text-link {
  border-right: 2px black solid;
  width: 100%;
  display: flex;
  align-items: center;
}

main {
  display: grid;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 500;
}